<!DOCTYPE html>
<html>
    <head>
	<h2><center></center></h2>
        <meta charset="UTF-8">
        <title></title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
		<link href="https://bootswatch.com/5/journal/bootstrap.min.css" type="text/css" rel="stylesheet" />
		<main class="container">
  <div class="p-10 p-md-5 mb-10 text-white rounded bg-info">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic"></h1>
	  <p><h1>MON CV</h1></p>
	  
	  
	  
	  
 
</div>
      
      <p class="lead mb-0"><a href="" class="text-white fw-bold"></a></p>
    </div>
  </div>
    </head>
	 <center><img src = 'image/cv.png'></center>
	 <a href="" class="btn btn-info"> Download
	 
  </body>
</html>